{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-10 offset-2">
        <h2>Crear Producto</h2>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <div class="col-sm-12">
                    <input class="btn btn-primary" type="submit" value="Crear" />
                </div>                
            </div>            
        {{ form_end(form) }}
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('product_index') }}">Volver al listado</a>
            </li>
        </ul>
    </div>
{% endblock %}
